a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.wrapper {
    max-width: 1200px; 
    width: 90%;
    margin: 0 auto;
}

*body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
}

nav {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url(./assets/group-4@2x.png);
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.heading-1 {
    font-size: 100px;
    font-family: 'East Sea Dokdo', cursive;
    line-height: 90px;
    padding-top: 25%;  
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 30px 50px 30px 0px;
}


.menu {
    float: left;
}

.about {
    background-color: #FFE9E9;
    padding: 80px 0;
}

img {
    width: 100%;
}

.aboutImg {
    width: calc(40% - 50px);
    margin-right: 50px;
}

.aboutContent,
.aboutImg {
    float: left;
}

.aboutContent {
    width: 60%;
    line-height: 30px;
}

.heading-2 {
    font-size: 55px;
    font-family: 'East Sea Dokdo', cursive;
    line-height: 30px;
    margin-bottom: 20px;
}

button {
    width: 150px;
    background-color: #0178A5;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 35px;
    margin-top: 20px;
}

.gallery {
    background-color: #F7DAE8;
    padding: 60px 0;
}

.galleryImg img {
    width: calc(33.33% - 20px);
    float: left;
    margin-right: 20px;
    margin-top: 30px;
}

.gallery h2 {
    text-align: center;
}

.sub-menu {
    background-color: #FFE9E9;
    font-size: 40px;
    padding: 50px;
    text-align: center;
    cursor: pointer;
}

a {
    color: #0178A5;
}
.icons {
    width: calc(33.33% - 20px);
}

.split img,
.splitContent {
    float: left;
    width: calc(50% - 0px)
}

.splitContent {
    padding: 50px;
    line-height: 30px;
}

.split {
    background-color: #F7DAE8;
}

.splitContent button {
    background-color: #A7059B;
    width: 150px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 35px;
    margin-top: 20px;
}

.lowerContent {
    background-color: #FFE9E9;
    padding: 50px 0;
    text-align: left;
}

.lowerMenu,
.subscription,
.contactInfo {
    float: left;
}

.subscription {
    width: calc(40% - 20px);
    line-height: 30px;
    text-align: center;
}

.subscription h3,
.subscription p  {
    text-align: center;
}

.lowerMenu,
.contactInfo {
    width: calc(30% - 20px);
    line-height: 40px;
}

.heading-3{
    font-size: 40px;
    font-family: 'East Sea Dokdo', cursive;
    line-height: 30px;
    margin-bottom: 20px;
}

.subscription input {
    width: 258px;
    padding: 5px 5px 5px 20px;
}

.contactInfo{
    text-align: right;
    line-height: 30px;
}

footer {
    text-align: center;
    background-color: #201e21;
    color: white;
    padding: 20px;
}

button:hover {
    background-color: black;
    color: white;
}

a:hover {
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 10px;
}

@media (max-width: 800px) {
    header {
        height: 60vh;   
    }
    li a {
        font-size: 20px;
        margin: 30px 25px 30px 0;
    }

    .heading-1 {
        font-size: 70px;
    }

    .heading-2 {
        font-size: 45px;

    }

     span {
        display: none;
    }
   
    .splitContent p {
        line-height: 15px;
        font-size: 15px;
    }

}